.time-group {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: 2em;
}

.hour-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.minute-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}