.btn {
  width: 10em;
	font-size: 3em;
  border: none;
  border-radius: 0.3em;
  padding: 20px;
  margin: .2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #343030;
  background-color: #999;
}

.btn-success {
	color: #fff;
	background-color: #068c4d;
}

.btn-danger {
	color: #fff;
	background-color: #ba0200;
}

@media screen and (min-width: 361px) and (max-width: 590px) {
  .btn {
    font-size: 2em;
  }
}

@media screen and (max-width: 360px) {
  .btn {
    font-size: 1em;
  }
}