.child-signin {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2%;
}

.name-title {
	color: #fff;
	font-size: 2.5em;
}

.pickup-text {
	font-size: 2em;
	color: #fff;
}
